/*
 * #264653 
 * #f4a261
*/

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.brand img {
  width: 4rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: #f4a261;
  text-decoration: none;
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #264653;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav ul a {
  text-decoration: none;
  color: #f4a261;
}

.text-center {
    text-align: center;
}

header {
    background-color: #264653;
    color: white;
}

.hero-section {
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
}

.hero-section div {
    width: 50%;
}

.hero-section p {
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: solid 0.3rem #f4a261;
}

.hero-section div img {
    max-width: 100%;
}

.hero-section div img:hover {
    content: url('../images/img-header2.png');
}

.text-primery {
    color: #f4a261;
    font-weight: bold;
}